<template>
  <div class="dashboard">
    <h3>Dashboard</h3>
    <ul class="collection with-header">
      <li class="collection-header">
        <h5>Passwords</h5>
      </li>
      <transition-group name="list" tag="li">
        <li
          v-show="true"
          v-for="password in passwords"
          :key="password"
          class="collection-item list-item"
        >
          {{ password.name }}
          <router-link
            :to="{name: 'view-password', params: {password_id: password.password_id}}"
            class="secondary-content"
          >
            <i class="fa fa-eye"></i>
          </router-link>
        </li>
      </transition-group>

    </ul>
    <div class="fixed-action-btn">
      <router-link to="/new" class="btn-floating btn-large waves-effect">
        <i class="fa fa-plus"></i>
      </router-link>
    </div>

  </div>
</template>

<script>
  import db from './firebaseInit'

  export default {
    name: "dashboard",
    data: function () {
      return {
        passwords: []
      }
    },
    created: function () {
      db
        .collection('passwords')
        .orderBy('name')
        .get()
        .then(querySnapshot => {
        querySnapshot.forEach(doc => {
          const data = {
            'password_id': doc.data().password_id,
            'name': doc.data().name,
            'value': doc.data().value
          };
          this.passwords.push(data)
        })
      })
    }
  }
</script>

<style lang="scss">
  .list-item {
    display: block;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
</style>
