<template>
  <nav>
    <div class="nav-wrapper teal">
      <div class="container">
        <router-link to="/" class="brand-logo">Password manager</router-link>
        <ul class="right">

          <li>
            <span class="email" v-if="isLoggedIn">{{currentUser}}</span>
          </li>
          <li>
            <router-link v-if="isLoggedIn" to="/">Dashboard</router-link>
          </li>
          <li>
            <router-link v-if="!isLoggedIn" to="/login">Login</router-link>
          </li>
          <li>
            <router-link v-if="!isLoggedIn" to="/sign-up">Sign up</router-link>
          </li>
          <li>
            <button v-if="isLoggedIn" class="btn btn-small logout" @click="logout">Logout
              <i class="material-icons right">exit_to_app</i>
            </button>
          </li>
        </ul>

      </div>


    </div>
  </nav>
</template>

<script>
  import firebase from 'firebase'

  export default {
    name: "navbar",
    data() {
      return {
        isLoggedIn: false,
        currentUser: false
      }
    },
    created() {
      if (firebase.auth().currentUser) {
        this.isLoggedIn = true
        this.currentUser = firebase.auth().currentUser.email
      }
    },
    methods: {
      logout: function () {
        firebase
          .auth()
          .signOut()
          .then(() => {
              this.$router.go({path: this.$router.path})
            }
          )
      }
    }
  }
</script>

<style scoped>
  .email {
    padding-right: 1em;
  }
</style>
