<template>
  <div class="new-password">

    <div class="row">
      <div class="col s12 m8 l6 offset-l3 offset-m2">

        <h3>New password</h3>
        <div class="input-field">
          <input type="text" v-model="name" class="validate" id="name">
          <label for="name">Name</label>
        </div>
        <div class="input-field">
          <i
            @click="onReveal"
            class="validate"
            id="password"
            :class="getRevealClass()">
          </i>
          <input :type="type" v-model="value">
          <label for="password">Password</label>
        </div>
        <button class="btn pulse" @click="savePassword">SAVE</button>
      </div>



    </div>

  </div>
</template>

<script>
  import db from './firebaseInit'
  import ShortUniqueId from 'short-unique-id'
  const uid = new ShortUniqueId()

  // uid.randomUUID(13)

  export default {
    name: "new-password",
    data () {
      return {
        name: null,
        value: null,
        type: 'password'
      }
    },

    methods: {
      savePassword () {
        db.collection('passwords').add({
          password_id: uid.randomUUID(13),
          name: this.name,
          value: this.value
        })
          .then(docRef => {
            console.log('Client added: ', docRef.id)
            this.$router.replace('/')
          })
          .catch(error => {
            console.error('Error adding password: ', error)
          })
      },
      getRevealClass () {
        return `fa fa-${this.type === 'password' ? 'eye' : 'eye-slash'}`
      },
      onReveal () {
        this.type = this.type === 'password' ? 'text' : 'password'
      }
    }
  }
</script>

<style scoped>

</style>
