<template>
  <div class="sign-up">
    <div class="row">
      <div class="col s12 m8 l6 offset-l3 offset-m2">

        <div class="sign-up card-panel center">
          <h3>Sign up</h3>
          <span>Go to <router-link to="/sign-up">sign up</router-link> </span>
          <form action="">

            <div class="input-field ">
              <i class="material-icons prefix">email</i>
              <input type="text" id="email" v-model="email">
              <label class="active" for="email">Email</label>
            </div>

            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <input type="password" id="Password" v-model="password">
              <label class="active" for="password">Password</label>
            </div>

            <button class="btn btn-large" @click="signUp">Sign up</button>

          </form>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import firebase from 'firebase'

  export default {
    name: "sign-up",
    data: function () {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      signUp: function (e) {
        firebase
          .auth()
          .createUserWithEmailAndPassword(this.email, this.password)
          .then(
            user => {
              this.$router.go({path: this.$router.path})
            },
            err => {
              alert(err.message)
            }
          )
        e.preventDefault()
      }
    }
  }
</script>

<style scoped>

</style>
