<template>
  <div class="view-password">
    <div class="row">
      <div class="col s12 m8 l6 offset-l3 offset-m2">
        <h3>View password</h3>
        <div class="create-new">Or create <router-link to="/new">new password</router-link> </div>

        <div class="input-field ">
          <input type="text" v-model="name" class="validate" id="name">
          <label class="active" for="name">Name</label>
        </div>

        <div class="input-field">
          <i
            @click="onReveal"
            class="validate"
            id="password"
            :class="getRevealClass()">
          </i>
          <input :type="type" v-model="value">
          <label class="active" for="password">Password</label>
        </div>

        <button class="btn" @click="updatePassword">SAVE</button>
        <button class="btn" @click="deletePassword">DELETE</button>
      </div>
    </div>
  </div>
</template>

<script>
  import db from './firebaseInit'

  export default {
    name: "view-password",
    data() {
      return {
        password_id: null,
        name: null,
        currency: null,
        value: null,
        type: 'password'
      }
    },
    beforeRouteEnter(to, from, next) {
      db.collection('passwords').where('password_id', '==', to.params.password_id).get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          next(vm => {
            console.log(vm);
            vm.password_id = doc.data().password_id;
            vm.name = doc.data().name;
            vm.value = doc.data().value
          })
        })
      })
    },

    watch: {
      '$route': 'fetchData'
    },

    methods: {
      onReveal() {
        this.type = this.type === 'password' ? 'text' : 'password'
      },
      getRevealClass() {
        return `fa fa-${this.type === 'password' ? 'eye' : 'eye-slash'}`
      },

      fetchData() {
        db.collection('passwords').where('password_id', '==', this.$route.params.password_id).get().then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            this.password_id = doc.data().password_id
            this.name = doc.data().name
            this.value = doc.data().value
          })
        })
      },
      updatePassword() {
        db.collection('passwords').where('password_id', '==', this.$route.params.password_id).get().then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            console.log(doc);
            doc.ref.update({
              password_id: this.password_id,
              name: this.name,
              value: this.value
            })
              .then(() => {
                this.$router.push('/')
              })
              .catch(error => {
                console.log(error);
              })
          })
        })
      },
      deletePassword() {
        if (confirm('Are you sure?')) {
          db.collection('passwords').where('password_id', '==', this.$route.params.password_id).get().then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              doc.ref.delete();
              this.$router.push('/')
            })
          })
        }
      },
      onChangeTitle(e) {

      },
      onChangePassword(e) {

      }

    }
  }
</script>

<style lang="scss">
  .create-new {
    margin-bottom: 2em;
  }
</style>
