<template>
  <div id="app">
    <Navbar/>
    <router-view/>
  </div>
</template>

<script>
  import Navbar from './components/Navbar'
  import NewPassword from './components/NewPassword'

  export default {
    name: 'App',
    components: {
      Navbar,
      NewPassword
    }
  }
</script>

<style lang="scss">
  #app {
    /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*text-align: center;*/
    /*color: #2c3e50;*/
    /*margin-top: 60px;*/
  }

  .view-password, .new-password, .dashboard {
    padding: 0 1em;
  }

  #password {
    position: absolute;
    right: 0;
    padding: 1em;
    cursor: pointer;
  }

  .appear-enter-active, .apper-leave-active {
    transition: opacity 1s ease;
  }

  .btn.logout {
    > i {
      line-height: inherit;
    }
  }

</style>
